@import "tailwindcss";

@theme {
    --color-primary: #E20054;
    --color-secondary: #0A2A51;
    --color-gray-50: #E9EDF5;
    --color-gray-25: #F5F7FA;
    --color-red-50: #FCE5EE;
    --color-gray-800: #344456;
    --color-gray-500: #647E9A;
    --color-gray-200: #B2C2D6;
    --color-dark: #141928;

}